header{
    background-image: linear-gradient(red, yellow);
    color: white;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
    margin-bottom: 30px;
}
subheading{
    background-image: red;
    padding: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

/*flex containers*/

#container{
    display:grid;
    border: 3px blue solid;
    color: black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 25px;
    width: 80%;
    left: 10%;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6";
}
.card-header{
    font-size: 25px;
    padding: 20px;
    border: 1px blue solid;
    margin-bottom: 10px;
    color:black
}
.card-body{
    font-size: 15px;
    padding: 20px;
    margin-top: 10px;
    color: black;

}
.code-block{
    font-size: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
  
}
#box1{
    grid-area: box1;
    background-image: linear-gradient();
}
#box2{
    grid-area: box2;
    background-image: linear-gradient();
}
#box3{
    grid-area: box3;
    background-image: linear-gradient();
}
#box4{
    grid-area: box4;
    background-image: linear-gradient();
}
#box5{
    grid-area: box5;
    background-image: linear-gradient();
}
#box6{
    grid-area: box6;
    background-image: linear-gradient();
}